
body{
    background-color: rgba(115, 21, 237, 0.92);
}

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/
    margin: auto;
    width: auto;
    height: 3500px;
}

.perfil{
    width: 170px;
    height: 170px;
    margin-top: 15px;
}

.hello{
    display: flex;
    align-items: center;
    padding: 40px;
    font-size: 24px;
    font-family: "Bebas Neue";
    font-weight: 400px;
    color: white;
    text-shadow:0.1em 0.1em 0.2em black;
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-whats{
    display: flex;
    flex-direction: row;
    margin: 14px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 270px;
    height: 80px;
    font-size: 24px;
    align-items: center;
    padding: 24px 24px;
    border-radius: 17px;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 8px black;
}

.img_wh{
    width: 50px;
    height: 70px;
    padding: 0px 14px;
}

.botao-inta{
    display: flex;
    flex-direction: row;
    margin: 14px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 270px;
    height: 80px;
    font-size: 24px;
    align-items: center;
    padding: 24px 24px;
    border-radius: 17px;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 8px black;
}

.img_int{
    width: 50px;
    height: 70px;
    padding: 0px 14px;
}


.botao-linked{
    display: flex;
    flex-direction: row;
    margin: 14px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 270px;
    height: 80px;
    font-size: 24px;
    align-items: center;
    padding: 24px 24px;
    border-radius: 17px;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 8px black;
}

.img_linked{
    width: 50px;
    height: 70px;
    padding: 0px 14px;
}

.botao-git{
    display: flex;
    flex-direction: row;
    margin: 14px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 270px;
    height: 80px;
    font-size: 24px;
    align-items: center;
    padding: 24px 24px;
    border-radius: 17px;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 8px black;
}

.img_git{
    width: 50px;
    height: 70px;
    padding: 0px 14px;
}


.botao-port{
    display: flex;
    flex-direction: row;
    margin: 14px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 270px;
    height: 80px;
    font-size: 24px;
    align-items: center;
    padding: 24px 24px;
    border-radius: 17px;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 8px black;
}

.img_port{
    width: 50px;
    height: 70px;
    padding: 0px 14px;
}

.final{
    font-size: 14px;
    padding: 24px;
    font-family: "arial";
}